In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [51]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [52]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.840045  0.445744 -0.826137 -1.569876
2013-01-02 -0.001062 -2.391426  0.740173 -1.771201
2013-01-03  1.345284 -1.140696  0.166721 -1.604203
2013-01-04  1.177324  1.756869  0.229433 -1.500779
2013-01-05  0.493914 -0.177929 -0.827754  0.346665
2013-01-06  0.510942 -0.237856  0.033164 -1.363723

In [53]:
df2 = pd.DataFrame(
    {
        'A': 1.0,
        'B': pd.Timestamp('20130102'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(['test', 'train', 'test', 'train']),
        'F': 'foo',
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [54]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [55]:
dir(df2)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [56]:
df.head()

                   A         B         C         D
2013-01-01  0.840045  0.445744 -0.826137 -1.569876
2013-01-02 -0.001062 -2.391426  0.740173 -1.771201
2013-01-03  1.345284 -1.140696  0.166721 -1.604203
2013-01-04  1.177324  1.756869  0.229433 -1.500779
2013-01-05  0.493914 -0.177929 -0.827754  0.346665

In [57]:
df.tail()

                   A         B         C         D
2013-01-02 -0.001062 -2.391426  0.740173 -1.771201
2013-01-03  1.345284 -1.140696  0.166721 -1.604203
2013-01-04  1.177324  1.756869  0.229433 -1.500779
2013-01-05  0.493914 -0.177929 -0.827754  0.346665
2013-01-06  0.510942 -0.237856  0.033164 -1.363723

In [58]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.177324  1.756869  0.229433 -1.500779
2013-01-05  0.493914 -0.177929 -0.827754  0.346665
2013-01-06  0.510942 -0.237856  0.033164 -1.363723

In [59]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [60]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [61]:
df.values

array([[ 8.40045274e-01,  4.45744138e-01, -8.26136574e-01,
        -1.56987601e+00],
       [-1.06184397e-03, -2.39142575e+00,  7.40173066e-01,
        -1.77120144e+00],
       [ 1.34528396e+00, -1.14069591e+00,  1.66721351e-01,
        -1.60420345e+00],
       [ 1.17732400e+00,  1.75686916e+00,  2.29433391e-01,
        -1.50077863e+00],
       [ 4.93914034e-01, -1.77928842e-01, -8.27753687e-01,
         3.46665172e-01],
       [ 5.10942466e-01, -2.37855847e-01,  3.31635389e-02,
        -1.36372288e+00]])

In [62]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.727741 -0.290882 -0.080733 -1.243853
std    0.495767  1.406125  0.625774  0.790489
min   -0.001062 -2.391426 -0.827754 -1.771201
25%    0.498171 -0.914986 -0.611312 -1.595622
50%    0.675494 -0.207892  0.099942 -1.535327
75%    1.093004  0.289826  0.213755 -1.397987
max    1.345284  1.756869  0.740173  0.346665

In [63]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.840045   -0.001062    1.345284    1.177324    0.493914    0.510942
B    0.445744   -2.391426   -1.140696    1.756869   -0.177929   -0.237856
C   -0.826137    0.740173    0.166721    0.229433   -0.827754    0.033164
D   -1.569876   -1.771201   -1.604203   -1.500779    0.346665   -1.363723

In [64]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -1.569876 -0.826137  0.445744  0.840045
2013-01-02 -1.771201  0.740173 -2.391426 -0.001062
2013-01-03 -1.604203  0.166721 -1.140696  1.345284
2013-01-04 -1.500779  0.229433  1.756869  1.177324
2013-01-05  0.346665 -0.827754 -0.177929  0.493914
2013-01-06 -1.363723  0.033164 -0.237856  0.510942

In [65]:
df.sort_index(axis=1)

                   A         B         C         D
2013-01-01  0.840045  0.445744 -0.826137 -1.569876
2013-01-02 -0.001062 -2.391426  0.740173 -1.771201
2013-01-03  1.345284 -1.140696  0.166721 -1.604203
2013-01-04  1.177324  1.756869  0.229433 -1.500779
2013-01-05  0.493914 -0.177929 -0.827754  0.346665
2013-01-06  0.510942 -0.237856  0.033164 -1.363723

In [66]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-04  1.177324  1.756869  0.229433 -1.500779
2013-01-01  0.840045  0.445744 -0.826137 -1.569876
2013-01-05  0.493914 -0.177929 -0.827754  0.346665
2013-01-06  0.510942 -0.237856  0.033164 -1.363723
2013-01-03  1.345284 -1.140696  0.166721 -1.604203
2013-01-02 -0.001062 -2.391426  0.740173 -1.771201

In [67]:
# 3. 데이터 선택하기 (Selection)
df['A']

2013-01-01    0.840045
2013-01-02   -0.001062
2013-01-03    1.345284
2013-01-04    1.177324
2013-01-05    0.493914
2013-01-06    0.510942
Freq: D, Name: A, dtype: float64

In [68]:
df.A

2013-01-01    0.840045
2013-01-02   -0.001062
2013-01-03    1.345284
2013-01-04    1.177324
2013-01-05    0.493914
2013-01-06    0.510942
Freq: D, Name: A, dtype: float64

In [69]:
type(df['A'])

pandas.core.series.Series

In [70]:
df[0:3]

                   A         B         C         D
2013-01-01  0.840045  0.445744 -0.826137 -1.569876
2013-01-02 -0.001062 -2.391426  0.740173 -1.771201
2013-01-03  1.345284 -1.140696  0.166721 -1.604203

In [71]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.001062 -2.391426  0.740173 -1.771201
2013-01-03  1.345284 -1.140696  0.166721 -1.604203
2013-01-04  1.177324  1.756869  0.229433 -1.500779

In [75]:
df.loc[dates[0]]

A    0.840045
B    0.445744
C   -0.826137
D   -1.569876
Name: 2013-01-01 00:00:00, dtype: float64

In [78]:
df.loc[dates[1]]

A   -0.001062
B   -2.391426
C    0.740173
D   -1.771201
Name: 2013-01-02 00:00:00, dtype: float64

In [81]:
df.loc['20130101']
df.loc['2013-01-01']

A    0.840045
B    0.445744
C   -0.826137
D   -1.569876
Name: 2013-01-01 00:00:00, dtype: float64

In [85]:
df.loc[:,['A', 'B']]

                   A         B
2013-01-01  0.840045  0.445744
2013-01-02 -0.001062 -2.391426
2013-01-03  1.345284 -1.140696
2013-01-04  1.177324  1.756869
2013-01-05  0.493914 -0.177929
2013-01-06  0.510942 -0.237856