In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.071311 -1.222208  0.601039  2.730001
2013-01-02 -1.171991  0.302269 -0.116208 -0.964792
2013-01-03 -0.166696  0.646342 -1.097480 -0.555360
2013-01-04 -1.181106 -0.585226 -0.700563 -0.296974
2013-01-05 -0.673996  0.668260 -2.696643  0.626609
2013-01-06 -0.545088  0.632174  0.776325  1.082906